@use '../styles/breakpoints' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid white;
}

app-main {
  height: 100%;
}

app-offer-section,
app-why-us-section,
app-newsletter {
  display: flex;
  height: 100vh;
}

app-streamlined-soaring-section {
  display: flex;
  height: 65vh;
}

app-socials {
  display: flex;
  height: 75vh;
}

@include tablet {
  app-socials {
    height: 40vh;
  }

  app-newsletter {
    height: 75vh;
  }
}

@include laptop {
  app-socials {
    height: 50vh;
  }
}
