.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid white;
}
app-main {
  height: 100%;
}

app-offer-section,
app-why-us-section {
  display: flex;
  height: 100vh;
}
