<main class="main">
  <div class="main__earth-container">
    <div class="main__earth">
      <img class="main__earth-shape" src="assets/images/rectangle_first.png" alt="" />
      <img class="main__earth-shadow" src="assets/images/rectangle.png" alt="" />
      <img class="main__earth-line1" src="assets/lines/line.svg" alt="" />
      <img class="main__earth-line2" src="assets/lines/line2.svg" alt="" />
      <img class="main__earth-line3" src="assets/lines/line3.svg" alt="" />
    </div>
  </div>
  <div class="main__banner-container">
    <p class="main__banner"><span>Track</span> every flight and be part</p>
    <p class="main__banner">of the <span>global community</span></p>
    <p class="main__banner-description">
      Track your flights, share photos and ratings, and join the top travellers! See how your
      adventures look on the world map.
    </p>
    <div class="main__banner-btn-container">
      <button>JOIN OUR WORLD</button>
      <img src="assets/icons/main-arrow.svg" alt="arrow" />
    </div>
  </div>
</main>
