<section class="newsletter-container">
  <div class="newsletter">
    <div class="newsletter__title">
      <h2 class="newsletter__title-mobile">
        PASSPORT <br />
        TRAVEL NEWS
      </h2>
      <h2 class="newsletter__title-desktop">
        WINGS OF INFORMATION <br />
        Your Passport to Travel News
      </h2>
    </div>
    <div class="newsletter__info">
      <p>
        Subscribe to our newsletter for expert travel advice, exciting destinations, and unbeatable
        flight deals. Stay connected and make every journey unforgettable!
      </p>
    </div>
    <div class="newsletter__form">
      <input type="text" placeholder="Email" />
      <button>JOIN NEWSLETTER</button>
    </div>
    <div class="newsletter__privacy-policy">
      <p>
        By subscribing to our newsletter, you consent to receive updates, promotions, and news
        related to our products/services. You can unsubscribe at any time by clicking the link in
        the footer of our emails. For more information about our privacy practices, visit our
        Privacy Policy.
      </p>
    </div>
  </div>
</section>
