<section class="newsletter-section">
  <div class="newsletter">
    <div class="newsletter-title">
      <h2>
        PASSPORT <br />
        TRAVEL NEWS
      </h2>
    </div>
    <div class="newsletter-info">
      <p>
        Subscribe to our newsletter for expert travel advice, exciting destinations, and unbeatable
        flight deals. Stay connected and make every journey unforgettable!
      </p>
    </div>
    <div class="newsletter-form">
      <input type="text" placeholder="Email" />
      <button>SEND TO HYDRA</button>
    </div>
    <div class="newsletter-privacy-policy">
      <p>
        By subscribing to our newsletter, you consent to receive updates, promotions, and news
        related to our products/services. You can unsubscribe at any time by clicking the link in
        the footer of our emails. For more information about our privacy practices, visit our
        Privacy Policy.
      </p>
    </div>
  </div>
</section>
