:root {
  --color-primary: #2c3142;
  --color-secondary: #ffffff;
  --color-tertiary: #b7c2e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
}
