<section class="section-why-us">
  <div class="title-container">
    <h1>WHY FLIGHT WITH US ?</h1>
    <img class="title-arrow" src="assets/icons/why_us_arrow.svg" alt="" />
    <p class="title-description">
      Our app is perfect for travelers! With an intuitive interface, tracking and managing flights
      is a breeze. Join a global community of travel enthusiasts to effortlessly share your passion
      for exploration. We're excited to track and display your flight data, ensuring reliable
      information for planning and memories.
    </p>
  </div>
  <div class="cards-container">
    <div class="slider-container">
      <div class="slider">
        <div #cards class="cards">
          <div class="card">
            <div class="image-container">
              <div class="image">
                <img class="info-image" src="assets/images/why_card_image_1.png" />
              </div>
            </div>
            <div class="info-container">
              <div class="info-title">
                <h3>USER CENTRIC</h3>
              </div>
              <div class="info">
                <p class="text">
                  Our app is perfect for travellers! It's got an intuitive and user-friendly
                  interface that makes tracking and managing your flights a breeze.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="image">
                <img class="info-image" src="assets/images/why_card_image_2.png" alt="" srcset="" />
              </div>
            </div>
            <div class="info-container">
              <div class="info-title">
                <h3>COMMUNITY FOCUS</h3>
              </div>
              <div class="info">
                <p class="text">
                  Join a Worldwide Community of Travel Enthusiasts to share your passion for travel
                  with like-minded individuals. We excel at making this connection effortless for
                  you!
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="image">
                <img class="info-image" src="assets/images/why_card_image_3.png" />
              </div>
            </div>
            <div class="info-container">
              <div class="info-title">
                <h3>DATA ACCURACY</h3>
              </div>
              <div class="info">
                <p class="text">
                  We're so excited to track and display your flight data! This allows us to provide
                  you with the most reliable information for planning and memory about your travels.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="image">
                <img class="info-image" src="assets/images/why_card_image_4.png" />
              </div>
            </div>
            <div class="info-container">
              <div class="info-title">
                <h3>TRAVEL INSIGHTS</h3>
              </div>
              <div class="info">
                <p class="text">
                  Track, share, and experience your adventures seamlessly with visual maps and
                  detailed records, setting our app apart from the rest.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="previous-btn-container">
        <button class="previous-btn" (click)="previousCard()">
          <img class="arrow-left" src="assets/icons/shape.svg" alt="" />
        </button>
      </div>
      <div class="next-btn-container">
        <button class="next-btn" (click)="nextCard()">
          <img class="arrow-right" src="assets/icons/shape.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
</section>
