<section class="socials">
  <div class="socials__wrapper">
    <div class="socials__logo-container">
      <div class="socials__logo">
        <img src="global/assets/flight-saver-logo.svg" width="120" height="120" alt="" class="socials__logo-image" />
        <img class="socials__logo-line socials__logo-line--mobile-1" src="assets/icons/socials_line_1.svg" alt="" />
        <img class="socials__logo-line socials__logo-line--mobile-2" src="assets/icons/socials_line_2.svg" alt="" />
        <img class="socials__logo-line socials__logo-line--desktop-1" src="assets/icons/socials/social_line_background_1.svg" />
        <img class="socials__logo-line socials__logo-line--desktop-2" src="assets/icons/socials/social_line_background_2.svg" />
      </div>
    </div>
    <img class="socials__tablet-line" src="assets/icons/socials/social_line.svg" alt="" />
    <div class="socials__nav-column">
      <ul class="socials__list">
        <li class="socials__list-item"><a href="#" class="socials__list-link">ABOUT</a></li>
        <li class="socials__list-item"><a href="#" class="socials__list-link">NEWS</a></li>
        <li class="socials__list-item"><a href="#" class="socials__list-link">PRICING</a></li>
      </ul>
    </div>
    <img class="socials__tablet-line" src="assets/icons/socials/social_line.svg" alt="" />
    <div class="socials__nav-column">
      <ul class="socials__list">
        <li class="socials__list-item"><a href="#" class="socials__list-link">F.A.Q</a></li>
        <li class="socials__list-item"><a href="#" class="socials__list-link">SITEMAP</a></li>
        <li class="socials__list-item"><a href="#" class="socials__list-link">CONDITIONS</a></li>
      </ul>
    </div>
    <img class="socials__tablet-line" src="assets/icons/socials/social_line.svg" alt="" />
    <div class="socials__social-links">
      <div class="socials__subtitle">
        <h4 class="socials__subtitle-text">SOCIALIZE WITH FLIGHTSAVER</h4>
      </div>
      <div class="socials__links-container">
        <ul class="socials__links-list">
          <li class="socials__links-item">
            <img class="socials__links-image" src="assets/icons/socials/facebook.svg" width="30" height="30" />
          </li>
          <li class="socials__links-item">
            <img class="socials__links-image" src="assets/icons/socials/twitter.svg" width="30" height="30" />
          </li>
          <li class="socials__links-item">
            <img class="socials__links-image" src="assets/icons/socials/linkedin.svg" width="30" height="30" />
          </li>
          <li class="socials__links-item">
            <img class="socials__links-image" src="assets/icons/socials/youtube.svg" width="30" height="30" />
          </li>
          <li class="socials__links-item">
            <img class="socials__links-image" src="assets/icons/socials/instagram.svg" width="30" height="30" />
          </li>
        </ul>
      </div>
      <div class="socials__join-btn">
        <button class="socials__join-btn-text">JOIN FLIGHTSAVER</button>
      </div>
    </div>
  </div>
</section>
