<nav class="nav">
  <div class="logo">
    <div class="logo__icon">
      <img src="assets/icons/flight-saver-logo.svg" alt="" srcset="" />
    </div>
    <div class="logo__title">
      <span>FlightSaver</span>
    </div>
  </div>
  <div class="links">
    <div class="navbar-hamburger" (click)="openNavbar()">
      <div
        class="navbar-hamburger__line"
        [ngClass]="{ 'navbar-hamburger__line--open': isNavbarOpen }"
      ></div>
      <div
        class="navbar-hamburger__line"
        [ngClass]="{ 'navbar-hamburger__line--open': isNavbarOpen }"
      ></div>
      <div
        class="navbar-hamburger__line"
        [ngClass]="{ 'navbar-hamburger__line--open': isNavbarOpen }"
      ></div>
    </div>
    <ul class="list" [ngClass]="{ 'list--open': isNavbarOpen }">
      <li>ABOUT</li>
      <li>NEWS</li>
      <li>PRICING</li>
      <button class="try-btn">SIGN IN</button>
    </ul>
  </div>
</nav>
