<section class="section-streamlined">
  <div class="title-container">
    <h1>STREAMLINED SOARING</h1>
    <h2>Your Flight Companion Awaits</h2>
  </div>
  <div class="steps-container">
    <div class="slider-container">
      <div class="slider">
        <div #cards class="steps">
          <div class="step">
            <div class="step-number-container">
              <div class="step-number-shadow">
                <div class="step-number">
                  <img src="assets/icons/step_01.svg" alt="Step One" />
                </div>
              </div>
            </div>
            <div class="step-text-container">
              <img
                class="arrow"
                src="assets/icons/arrow_streamlined_soaring.svg"
                alt="Step Three"
              />
              LOG IN
            </div>
          </div>
          <div class="step">
            <div class="step-number-container">
              <div class="step-number-shadow">
                <div class="step-number">
                  <img src="assets/icons/step_02.svg" alt="Step Two" />
                </div>
              </div>
            </div>
            <div class="step-text-container">
              <img
                class="arrow"
                src="assets/icons/arrow_streamlined_soaring.svg"
                alt="Step Three"
              />ADD TRAVELS
            </div>
          </div>
          <div class="step">
            <div class="step-number-container">
              <div class="step-number-shadow">
                <div class="step-number">
                  <img src="assets/icons/step_03.svg" alt="Step Three" />
                </div>
              </div>
            </div>
            <div class="step-text-container">
              <img
                class="arrow"
                src="assets/icons/arrow_streamlined_soaring.svg"
                alt="Step Three"
              />CHECK STATISTICS
            </div>
          </div>
          <div class="step">
            <div class="step-number-container">
              <div class="step-number-shadow">
                <div class="step-number">
                  <img src="assets/icons/step_04.svg" alt="Step Four" />
                </div>
              </div>
            </div>
            <div class="step-text-container">
              <img
                class="arrow"
                src="assets/icons/arrow_streamlined_soaring.svg"
                alt="Step Three"
              />SHARE WITH FRIENDS
            </div>
          </div>
        </div>
      </div>
      <div class="previous-btn-shadow">
        <button class="previous-btn" (click)="previousCard()">
          <img class="arrow-left" src="assets/icons/shape.svg" alt="" />
        </button>
      </div>
      <div class="next-btn-shadow">
        <button class="next-btn" (click)="nextCard()">
          <img class="arrow-right" src="assets/icons/shape.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
  <img class="arrow-underline" src="assets/icons/streamlined_soaring_underline.svg" alt="" />
</section>
