<section class="offer-section">
  <div class="title-container">
    <h1>READY TO TAKE OFF ?</h1>
    <h2>Discover our offer !</h2>
  </div>
  <div class="cards-container">
    <div class="slider-container">
      <div class="slider">
        <div #cards class="cards">
          <div class="card">
            <div class="image-container">
              <img class="info-image" src="assets/images/card_image_1.png" alt="" srcset="" />
              <div class="title"><p>FLIGHTS</p></div>
            </div>
            <div class="info-container">
              <div class="info">
                <p class="text">
                  Get ready for the adventure of a lifetime! Track all your flights and routes on an
                  amazing, interactive map! Manage your travel itineraries effortlessly and create a
                  complete picture of your journeys all in one place.
                </p>
              </div>
              <div class="button">
                <button class="try-btn">TRY IT NOW</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image-container">
              <img class="info-image" src="assets/images/card_image_2.png" alt="" srcset="" />
              <div class="title"><p>MAP</p></div>
            </div>
            <div class="info-container">
              <div class="info">
                <p class="text">
                  Dive into the fascinating world of travel! Track all your routes and discover new
                  places with an interactive map! Manage your travel plans effortlessly and create a
                  complete picture of your journeys all in one place.
                </p>
              </div>
              <div class="button">
                <button class="try-btn">TRY IT NOW</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image-container">
              <img class="info-image" src="assets/images/card_image_3.png" />
              <div class="title"><p>SHARE</p></div>
            </div>
            <div class="info-container">
              <div class="info">
                <p class="text">
                  Share your amazing travel experiences! Capture your journeys and share them with
                  friends and family. Create a beautiful travel diary and let others join you in
                  your adventures.
                </p>
              </div>
              <div class="button">
                <button class="try-btn">TRY IT NOW</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image-container">
              <img class="info-image" src="assets/images/card_image_4.png" />
              <div class="title"><p>STATISTICS</p></div>
            </div>
            <div class="info-container">
              <div class="info">
                <p class="text">
                  Discover detailed insights about your travels! Analyze your journeys with
                  comprehensive statistics. Track your progress, compare past trips, and plan future
                  adventures with data-driven accuracy.
                </p>
              </div>
              <div class="button">
                <button class="try-btn">TRY IT NOW</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="previous-btn-container">
        <button class="previous-btn" (click)="previousCard()">
          <img class="arrow-left" src="assets/icons/shape.svg" alt="" />
        </button>
      </div>
      <div class="next-btn-container">
        <button class="next-btn" (click)="nextCard()">
          <img class="arrow-right" src="assets/icons/shape.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
</section>
