<main class="main">
  <div class="earth">
    <div class="container">
      <img src="assets/images/rectangle_first.png" alt="" />
      <img class="shadow" src="assets/images/rectangle.png" alt="" />
      <img class="line1" src="assets/lines/line.svg" alt="" />
      <img class="line2" src="assets/lines/line2.svg" alt="" />
      <img class="line3" src="assets/lines/line3.svg" alt="" />
    </div>
  </div>
  <div class="baner">
    <div class="hero-text">
      <p><span>Track</span> every flight and be part</p>
      <p>of the <span>global community</span></p>
    </div>
    <div class="login-btn">
      <button>SIGN IN</button>
    </div>
  </div>
</main>
