<main class="main">
  <div class="earth">
    <div class="container">
      <img class="shape" src="assets/images/rectangle_first.png" alt="" />
      <img class="shadow" src="assets/images/rectangle.png" alt="" />
      <img class="line1" src="assets/lines/line.svg" alt="" />
      <img class="line2" src="assets/lines/line2.svg" alt="" />
      <img class="line3" src="assets/lines/line3.svg" alt="" />
    </div>
  </div>
  <div class="baner-container">
    <div class="baner">
      <div class="hero-text">
        <p class="hehe1"><span>Track</span> every flight and be part</p>
        <p class="hehe2">of the <span>global community</span></p>
      </div>
      <div class="hero-description">
        <p class="description">
          Track your flights, share photos and ratings, and join the top travellers! See how your
          adventures look on the world map.
        </p>
      </div>
      <div class="login-btn">
        <button>JOIN OUR WORLD</button>
        <img class="main-arrow" src="assets/icons/main-arrow.svg" alt="" />
      </div>
    </div>
  </div>
</main>
