<section class="socials-section">
  <div class="logo-container">
    <div class="logo">
      <img src="assets/icons/flight-saver-logo.svg" width="120" height="120" alt="" />
      <img class="line-1" src="assets/icons/socials_line_1.svg" alt="" />
      <img class="line-2" src="assets/icons/socials_line_2.svg" alt="" />
    </div>
  </div>
  <div class="socials">
    <div class="socials-subtitle">
      <h4>SOCIALIZE WITH FLIGHTSAVER</h4>
    </div>
    <div class="socials-links-container">
      <ul class="socials-links">
        <li class="link">
          <img class="image" src="assets/icons/socials/facebook.svg" width="30" height="30" />
        </li>
        <li class="link">
          <img class="image" src="assets/icons/socials/twitter.svg" width="30" height="30" />
        </li>
        <li class="link">
          <img class="image" src="assets/icons/socials/linkedin.svg" width="30" height="30" />
        </li>
        <li class="link">
          <img class="image" src="assets/icons/socials/youtube.svg" width="30" height="30" />
        </li>
        <li class="link">
          <img class="image" src="assets/icons/socials/instagram.svg" width="30" height="30" />
        </li>
        <li class="link">
          <img class="image" src="assets/icons/socials/pinterest.svg" width="30" height="30" />
        </li>
      </ul>
    </div>
    <div class="socials-join-btn">
      <button>JOIN FLIGHTSAVER</button>
    </div>
    <div class="footer-underline">
      <img src="assets/icons/footer-underline.svg" alt="" />
    </div>
    <div class="footer">
      <p>2024 LANDING PAGE</p>
    </div>
  </div>
</section>
